<div class="container">
    <div class="container">	
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link active" id="tab1" data-toggle="tab" href="#prijatelji" role="tab" aria-controls="tab1aria" aria-selected="true">Moji prijatelji</a></li>
            <li class="nav-item"><a class="nav-link" id="tab2" data-toggle="tab" href="#zahtevi" role="tab" aria-controls="tab2aria" aria-selected="false">Zahtevi za prijateljstvo</a></li>
            <li class="nav-item"><a class="nav-link" id="tab3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3aria" aria-selected="false">Dodaj nove prijatelje</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="prijatelji" role="tabpanel" aria-labelledby="tab1aria">>
                <ul class="leg">
                    <li>Prvi</li>
                    <li>Drugi</li>
                </ul>
            </div>
            <div class="tab-pane" id="zahtevi" role="tabpanel" aria-labelledby="tab2aria">>
                Drugiiiii
            </div>
        </div>
    </div>
</div>
