<div>
  <div class="container">
        <div class="row">
            <div class="col-lg-5">
              <div class="center-items gap-top">
                <img src="assets/images/cinema.png" height="300" width="300">
                <p class="orangeText">Adresa: {{pozBio.adresa}}</p>
              </div>
            </div>
            <div class="card card-block bg-faded pozadina3 col-lg-7">
              <h2 class="naslov set-center">{{pozBio.naziv}}</h2>
              <p class="blueText">{{pozBio.opis}}</p>
            </div>
        </div>
  </div>
</div>

