<div class="container">
  <form name="registracijaForma">
    <fieldset>
      <legend class="leg" align="center">Registrujte se na nas sajt</legend>
     <div class="form-group row">
        <div class="col-md-4 mx-auto">
          <input type="text" class="form-control" name="mail" id="mail" placeholder="Email Adresa">
        </div>
        </div>
      <div class="form-group row">
        <div class="col-md-4 mx-auto">
          <input type="password" class="form-control" name="sifra" id="sifra" placeholder="Lozinka">
           </div>
      </div>
     <div class="form-group row">
        <div class="col-md-4 mx-auto">
          <input type="password" class="form-control" name="sifra2" id="sifra2" placeholder="Potvrda Lozinke">
           </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4 mx-auto">
          <input type="text" class="form-control" name="ime" id="ime" placeholder="Ime">
        </div>
        </div>
        <div class="form-group row">
        <div class="col-md-4 mx-auto">
          <input type="text" class="form-control" name="prezime" id="prezime" placeholder="Prezime">
        </div>
        </div>
      <div class="form-group row">
        <div class="col-md-4 mx-auto">
          <input type="text" class="form-control" name="grad" id="grad" placeholder="Grad">
        </div>
        </div>
        <div class="form-group row">
        <div class="col-md-4 mx-auto">
          <input type="text" class="form-control" name="telefon" id="telefon" placeholder="Kontakt Telefon">
        </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 mx-auto">
            <button type="submit" class="logregBtn btn btn-primary btn-md btn-block" name="regPrijava">Registracija</button>
          </div>
        </div>
  </fieldset>

  </form>
</div>